/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
   a, a:hover { text-decoration: none; }
   h1, h2, h3, h4, h5, h6 { color: @sw_darker_gray; }
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   border-bottom: none;
   .container {
      position: relative;
      padding-top: 1em;
      h1 { margin: 0; }
      .navbar-brand {
         .baseline {
            color: @sw_blue;
            font-family: 'BaseNineMedium', Arial, sans-serif;
            position: absolute;
            top: 4.5em;
            left: 7em;
         }
      }
      .navbar-right i { .rotate(-90deg) }
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   .wp-post-image {
      width: 100%;
      height: auto;
      margin-bottom: 1em;
   }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   .widget.widget_cta {
      img {
         float: left;
         width: 35%;
         margin-right: 1em;
      }
      .textwidget {
         a, a:hover { color: @sw_dark_gray; }
         a:hover { text-decoration: underline; }
      }
      .ctabutton {
         text-align: right;
         margin-top: 0.5em;
      }
   }
   .widget {
      margin-bottom: 50px;
      h3 { margin-top: 0; }
      ul { list-style: none; padding: 0 1em; }
   }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
   margin-bottom: 5em;
   header { }
   .byline {
      font-style: italic;
      color: @sw_lighter_gray;
      a { color: @sw_lighter_gray; }
      a:hover { text-decoration: underline; }
   }
   .entry-title { margin-top: 0; }
   .entry-content { }
   footer { }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   background: @sw_lighter_gray;
   color: @sw_dark_gray;
   .col-md-3 {
      padding: 1em 2em;
      margin: 1.5em 0;
      border-left: solid 1px @sw_light_gray;
   }
   h3 {
      font-weight: bold;
      font-size: @font-size-h5;
      margin: 0 0 0.75em;
      text-transform: uppercase;
   }
   h4 { font-size: @font-size-smaller; margin-top: 0; }
   ul {
      list-style: none;
      padding: 0;
      &:not(:last-child) { margin-bottom: 2em; }
      li {
         margin: 0.3em 0;
         line-height: @font-size-base;
         a {
            color: @sw_darker_gray;
            font-size: @font-size-smaller;
            &:hover { text-decoration: underline; }
         }
      }
   }
   .social-networks li { display: inline-block; margin-right: 0.2em; }

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
